html,
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, Garamond, serif;
  font-size: 14px;
  background-color: #ccc;
}

.container {
    padding: 0;
}

.page-holder {
  background-color: white;
  margin-top: 2rem;
  max-width: 1100px;
}

.navbar {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

#menu a {
  padding: 1.5rem;
}

.nav-link {
  margin-left: 2rem;
}

#menu a:hover {
  background-color: #666;
  color: white;
}

footer {
  background-color: #ccc;
  padding: 3rem;
  text-align: center;
}
